{% extends 'baselogin.html' %}

{% block title %} Admin Login{% endblock title %} 

{% block form %} 
<h2>Admin Login</h2>
<di class="row">
<div class="col-md-4"></div>

<div class="col-md-4">
    <form action="/admin" method="post">
    {% include "message.html" %}
        <div class="form-group">
            <input type="text" class="form-control mt-2" placeholder="Enter username" name="username" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control mt-2" placeholder="enter your password" name="password" required>
        </div>
        
        <br>
        <br>
<button type="submit" class="btn btn-info">LogIn</button>
<button type="reset" class="btn btn-info">reset</button>

    </form>
    <br>

</div>

<div class="col-md-4"></div>

</di>


{% endblock form %} 